body {
  margin: 0;
  padding: 0;
  /*background-image: url(https://images7.alphacoders.com/117/1175594.png);
    background-repeat: no-repeat; */
  background-size: cover;
  background: #081b29;
  /*background-repeat: no-repeat;*/
  overflow: hidden;
  color: #ededed;
}

main {
  margin-left: 20px;
}

h1 {
  text-align: center;
}

nav {
  width: 100%;
  /*background: #24527a;*/
  background-color: transparent;
  padding-left: 4%; /*<-pang adjust ng pindutan*/
  margin-top: 10px;
}

ul {
  list-style-type: none;
  /* background-color: #24527a;*/
  padding: 0px;
  background-color: transparent;
  margin: 0 0 0 250px;
  overflow: hidden;
  width: 100%;
  list-style: none;
}

/* pag edit sa hover ng button */
.textlink:hover {
  background: #72959b;
  border-radius: 8px;
  color: black;
  transition: 0.5s;
}

li a {
  float: left;
  display: block;
  padding: 15px;
  text-decoration: none;
  font-family: arial;
  color: white;
  text-align: center;
  min-width: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
a {
  position: relative;
  text-decoration: none;
  font-family: "Poppins", san serif;
  font-size: 17px;
  letter-spacing: 0.5px;
}

a:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 0;
  left: 0;
  bottom: -100px;
  transition: 0.3s;
}

.logo {
  width: 70px;
  height: 70px;
  position: absolute;
  padding-top: 15px;
}

.home {
  display: flex;
  background-size: cover;
  background-position: center;
  height: 100vh;
  align-items: center;
  padding: 0 10%;
}

/*adjust ng text sa gitna */
.home-content {
  max-width: 600px;
}

/* contents of admin main */

.home-content h1 {
  font-size: 55px;
  padding-left: 100px;
  text-align: center;
  font-style: italic;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: white;
  margin-top: -100px;
}

/*tagline */
.home-content h3 {
  font-size: 20px;
  padding-left: 100px;
  font-weight: 700;
  color: #00abf0;
  text-align: center;
  font-style: italic;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/*parag */
.home-content p {
  text-align: center;
  font-size: 18px;
  color: white;
  padding-left: 100px;
  font: monospace;
}

/*dito yung logo ng gpc sa gilid*/
.home-imgHover {
  position: absolute;
  top: 0;
  right: 40px;
  width: 400px;
  margin-top: 80px;
  height: 70%;
  background: transparent;
  padding: 30px;
  justify-content: space-around;
  padding-right: 30vh;
  text-align: center;
}

.home-imgHover:hover {
  background: #081b29;
  opacity: 0.8;
}
