.container{
    align-items: center; 
    text-align:center; 
    padding: 15px;
}

.search {
    padding-left: 1100px;
}

.add {
    margin-top: 5px;
    padding-left: 20px;
    margin-bottom: -40px;

}
h1{
    margin-top: 80px;
    text-align: center;
    font-style: justify;
    color: midnightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: .5m;
    line-height: 1em;
    font-size: 50px;
}

button{
    padding: 5px;
    width: 100px;
    background-color: #94E3D9 ;
    border-radius: 20px;
    font-size: 15px;
    color: black;
    margin: 20px;
    font-family: monospace;
    height: 30px;
}
button:hover{
    opacity: 1;
    background-image: linear-gradient(red, gold);
    cursor: pointer;
    
}

td, th, tr{
    border: 2px solid black;
    font-size: 20px;
    padding: 10px;
    width: 150px;
    color: black;
    text-align: center;
    font-family: monospace;
}

table{
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 960px;
    color: black;
    font-size: 10px;
    font-family: monospace;
}

input[type=text]{
    height: 30px;
    width: 200px;
    text-align: center;
    border-radius: 15px;
    font-family: monospace;
}
body{
    background: radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);;

}

