.btn , .NoPrint 
{
    display: none;
}

.form-control
{
    border: 0px;
    font-size: 10px;
}

.input-group-text
{
    border: 0px;
    background-color: white;
    font-size: 10px;
}

table 
{
    border : 1px solid black;
    font-size: 10px;
    
}
